@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

$bg-main: #F6EFE7;
$primary: #C68642;
$secondary: #8B5A2B;
$accent: #E8C07D;
$text-main: #2E1F14;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $accent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8B5A2B;
}


body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 100vh;
    background-color: $bg-main;
}

.mainBody {
    width: 80%;
    margin: 0 auto;
}

.header {
    @include flex-center();
    margin-top: 10px;

    .header_button {
        @include flex-center();
        width: 200px;
        height: 50px;
        background-color: antiquewhite;
        border-radius: 0.2rem;
        color: $text-main;

        cursor: pointer;
        transition: transform 0.15s ease, box-shadow 0.15s ease,
            background-color 0.15s ease;
    }

    .header_button:hover {
        background-color: $accent;
        box-shadow: 0 2px 10px $primary;
        transform: translateY(4px);
    }

    .header_button:active {
        background-color: $accent;
        box-shadow: 0 2px 10px $secondary;
        transform: translateY(4px);
    }

    .header_button--active {
        border-bottom: 2px solid $accent;
    }
}

.main {
    height: 400px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    box-shadow: 0 2px 10px $secondary;
}

.main__breadImg {
    width: 100%;
}

.main__breadImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.breadContent {
    padding: 20px 20px 20px 20px;
    width: 100%;
    @include flex-center();
    gap: 60px;
    margin: 0 auto;
    box-shadow: 0 2px 5px $accent;
    border-radius: 0.5rem;
    margin-top: 20px;

    .imgBlock__breadImg {
        width: 500px;
    }
}

.imgBlock {
    max-width: 38%;

    .imgBlock__breadImg{
        width: 100%;
    }
}

.text {
    overflow-wrap: break-word;
    width: 58%;
}

.gridblock {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3fr 1fr 1fr;
    min-height: 25vh;
}

.box {
    border: 1px solid $secondary;
}

.gridblock__description {
    grid-column: 1 / 7;
    grid-row: 1 / 3;
    font-size: 20px;
    @include flex-center();
    text-align: center;
    font-weight: 500;
}

.gridblock__fermentation {
    grid-column: 7 / 13;
    grid-row: 1 / 3;
    @include flex-center();
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

.gridblock__three {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

.gridblock__copyright {
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    @include flex-center();
    text-align: center;
}

.gridblock__privacy {
    grid-column: 7 / 9;
    grid-row: 3 / 4;
    @include flex-center();
    text-align: center;
}

.gridblock__empty {
    grid-column: 9 / 13;
    grid-row: 3 / 4;
}

.socials {
    display: flex;
    gap: 16px;
}

.socials svg {
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s ease-in-out, transform 0.3s ease;
}

.socials svg:hover {
    color: #C68642;
    transform: scale(1.1);
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: grab;
    margin: 20px 0px 20px 0px;

    .carousel__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.3);
        border: none;
        color: white;
        font-size: 2rem;
        cursor: pointer;
        z-index: 2;
    }

    .carousel__track {
        display: flex;
        gap: 20px;
        transition: transform 0.6s ease;
        align-items: center;
    }

    img{
        width: 450px;
        height: 400px;
    }
}

.carousel__slide {
    flex: 0 0 240px; 
    flex-shrink: 0;

    img{
        border-radius: 0.5rem;
    }
}

.carousel__slide--active {
    opacity: 1;
}

.carousel:active {
    cursor: grabbing;
}

.carousel__button{
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
    transition: 0.15s ease-in;
}

.carousel__button:hover{
    background-color: $primary;
}

.carousel__button--left {
    left: 10px;
}

.carousel__button--right {
    right: 10px;
}


